.explain-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid $gray-border;

  .header__info {
    display: flex;
  }

  .header__name {
    margin-right: 10px;
  }

  .header__importance {
    color: $gray-light;
  }

  .header__control-panel {
    display: flex;
    align-items: center;
  }
}

.is-very-small {
  font-size: 1em;
  padding: 4px 12px;
  height: auto;
}

.toggle-switch-wrapper {
  width: 180px;
}

.state-button {
  color: $indigo-dark;
  transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
}

.state-button.is-activated,
.state-button.is-activated:hover {
  color: $blue-icon;
  // border-color: $blue-icon;
  border-color: hsl(0, 0%, 71%);
}

.state-button:hover {
  color: $blue-icon;
  // border-color: hsl(0, 0%, 85.9%);;
}

.context-menu-container {
  position: absolute;
  z-index: 5;

  &.hidden {
    visibility: hidden;
  }
}

:global(.explain-panel .y-axis-text) {
  font-size: 16px;
  text-anchor: middle;
  dominant-baseline: text-bottom;
}

:global(.explain-panel .additive-line-segment) {
  stroke-linejoin: round;
  stroke-linecap: round;
}

:global(.explain-panel .hidden) {
  display: none;
}

:global(.explain-panel .grid-line-x, .explain-panel .grid-line-y) {
  stroke-width: 1;
  stroke: black;
  stroke-opacity: 0.08;
}

:global(.explain-panel .grid-line-y-0) {
  stroke-width: 3;
  stroke: black;
  stroke-opacity: 0.1;
  stroke-dasharray: 15 10;
}